@{
    ViewBag.Title = "About";
}

<pre>
Usuario: @Session["nombre"] (@Session["nivel"]) | @Html.ActionLink("Cerrar sesion", "LogOut", "Home")
</pre>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
